<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head('게시판')"></head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/fragment :: menu('post')">
</nav>

<div class="container">
    <h2>운동 일지</h2>
    <div>총 건수 : <span th:text="${posts.totalElements}"></span></div>
    <form class="form-inline d-flex justify-content-end" method="get" th:action="@{/posts/list}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-light mb-2">검색</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">좋아요</th>
            <th scope="col">댓글</th>
            <th scope="col">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">Mark</td>
            <td><a th:text="${post.title}" th:href="@{/posts/write(id=${post.id})}">Mark</a></td>
            <td th:text="${post.username}">Mark</td>
            <td th:text="${post.id}">Mark</td>
            <td th:text="${post.id}">Mark</td>
            <td th:text="${post.createdAt}">Mark</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${1 == posts.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/posts/list(page=${posts.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == posts.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/posts/list(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}">1</a></li>

            <li class="page-item" th:classappend="${posts.getTotalPages() == posts.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/posts/list(page=${posts.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/posts/write}">기록하기</a>
    </div>
</div>

<div th:replace="fragments/fragment :: footer"> </div>
</body>
</html>
