<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/fragment :: menu('post')">
</nav>

<div class="container">
    <h2>운동 일지</h2>
    <form action="#" th:action="@{'/posts/modify/' + *{id}}" th:object="${post}" method="post">
        <input type="hidden" id="id" th:field="*{id}">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" placeholder="제목을 입력하세요">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메세지
            </div>
        </div>

        <div class="mb-3">
            <label for="body">내용</label>
            <textarea class="form-control"
                      th:classappend="${#fields.hasErrors('body')} ? 'is-invalid'" id="body" rows="4" th:field="*{body}" placeholder="내용을 입력하세요"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">
                내용 에러 메세지
            </div>
            <div class="text-right">
                <a type="button" class="btn btn-danger" th:href="@{/posts/list}">취소</a>
                <button type="submit" class="btn btn-primary">기록하기</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/fragment :: footer"> </div>
</body>
</html>
