<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head('게시판')"> </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/fragment :: menu('post')">
</nav>

<div class="container">
    <h2>운동 일지</h2>
    <form action="#" th:action="@{/posts/write}" th:object="${postRequest}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" placeholder="제목을 입력하세요">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메세지
            </div>
        </div>

        <div class="mb-3">
            <label for="body">내용</label>
            <textarea class="form-control"
                      th:classappend="${#fields.hasErrors('body')} ? 'is-invalid'" id="body" rows="4" th:field="*{body}" placeholder="내용을 입력하세요"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">
                내용 에러 메세지
            </div>
        </div>
        <div class="text-right">
            <a type="button" class="btn btn-danger" th:href="@{/posts/list}">취소</a>
        </div>
    </form>
    <button id="post_btn" type="submit" class="btn btn-primary">기록하기</button>
</div>

<div th:replace="fragments/fragment :: footer"> </div>
<script type="text/javascript" src="/js/posts/postAdd.js"></script>
</body>
</html>
