<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title th:text="${title}">Hello, Spring Boot!</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#">헬창 SNS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
                <a class="nav-link" href="#" th:href="@{/main}">홈 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${menu} == 'post'? 'active'">
                <a class="nav-link" href="#" th:href="@{/posts/list}">기록장 <span class="sr-only"
                                                                                th:if="${menu} == 'post'">(current)</span></a>
            </li>
        </ul>
    </div>
    <a type="submit" class="btn btn-light" th:href="@{/users/login}" sec:authorize="!isAuthenticated()">로그인</a>
    <a type="submit" class="btn btn-light" th:href="@{/users/join}" sec:authorize="!isAuthenticated()">회원가입</a>
    <form class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()" th:action="@{/users/logout}" method="get">
        <span class="text-white"  sec:authorize="isAuthenticated()" sec:authentication="name" >사용자</span>
        <span class="text-white mx-2" th:text="${#authentication.authorities}"> 권한</span>
        <button type="submit" class="btn btn-light" id="logout_btn" sec:authorize="isAuthenticated()">로그아웃</button>
    </form>
</nav>


<div class="jumbotron text-center" style="margin-bottom:0" th:fragment="footer">
    <p>Created By Sol</p>
    <p>🔏 Tel 000-0000-0000</p>
    <p>🏴 경기도 고양시 일산동구 000</p>
    <script type="text/javascript" src="/js/login/logout.js"></script>
</div>
</body>
</html>