<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="signin.css" th:href="@{/css/signin.css}" rel="stylesheet">

    <title>Login</title>
</head>

<body class="text-center">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/fragment :: menu('home')"></nav>

<main class="form-signin w-100 m-auto">

    <form th:action="@{/users/join}" th:object="${userJoinRequest}" method="post">
        <img class="mb-4" src="https://getbootstrap.kr/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">회원가입</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="Username" name="username" th:field="*{username}" placeholder="Username">
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" th:field="*{password}" placeholder="Password">
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
    </form>
</main>
<!--<div th:replace="fragments/fragment :: footer"> </div>-->
</body>
</html>